header(role="banner", id="top" style="background-color:#FFF;").navbar.navbar-static-top.bs-docs-nav
  div.container
    div.navbar-header
    nav.collapse.navbar-collapse.bs-navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="#") Inicio
        li
          a(href="/upload") Subir Vídeo
        li
          a(href="/queue") Cola de Vídeos
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/logout") Cerrar Sesión
