doctype html
html
  include ./includes/header.jade
  body
  
    block test
      div.container
        div.content
        
          form(action="/login", method="post").form-signin
            h4.form-signin-heading Por favor, inicia sesión
            input(type="text", name="user", id="user", placeholder="Introduce tu usuario", required, autofocus).form-control
            
            input(type="password", name="pass", placeholder="Introduce la contraseña", required).form-control
            
            button(type="submit").btn.btn-lg.btn-primary.btn-block Iniciar Sesión
      
    div.footer