doctype html
html
  include ./includes/header.jade
  body
  
    block test
      div.container
        div.content
        
          form(action="/upload", method="post", enctype="multipart/form-data")
            div.form-group
              input(type="file", name="file")
            
            div.form-group  
              input(type="submit" name="submit").btn.btn-default
      
      
      
    div.footer